.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color:  #fa960027;
    padding: 50px;
    margin-top: 65px;
    
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border: 1px solid #fa960027;
    
  }

  .grid-container h2 {
    text-align: center;
  }
  .item1 {
    grid-column-start: 2;
    grid-column-end: 3;
    
  }
  .item2 {
    grid-column-start: 3;
    grid-column-end: 8;
  }
  