<<<<<<< HEAD
html{
    position:relative; 
    min-height: 100%;
  }
=======
@font-face {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
>>>>>>> master

.nav-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color:#FFDAA1
}

.nav-bar h3 {
    padding-left: 20px;
    padding-right: 20px;
}

<<<<<<< HEAD
html,body{
    margin:0;
    padding:0;
  } 

body{
=======
<<<<<<< HEAD
body{
=======



body{

>>>>>>> master
>>>>>>> master
background-color:#D8FFFE;
}

.container{
background-color:#FFF19C;
margin-left:7%;
margin-right:7%;
margin-bottom:90px;

}

<<<<<<< HEAD
.flexbox{
    display: flex;
    flex-wrap: nowrap;
    background-color:;
    }



.flex-item{
margin:30px;
=======
article{
    float:left;
    width:550px;
   padding-top:25px;
   padding-left:20px;
}


aside{
    padding-top:25px;
    padding-left:620px;
    padding-bottom:50px;
    padding-right:20px;
    style:block;
    align:right;
}

img[src*="hon"] {
    style:inline;
    padding-right:20px;
<<<<<<< HEAD
    
}

=======
>>>>>>> master
}

aside{
    padding-top:200px;
<<<<<<< HEAD
}
=======
}
>>>>>>> master
>>>>>>> master
