html,body{
    margin:0;
    padding:0;
  } 

.main-info {
    background-color:#FFF19C;
    margin-left:7%;
    margin-right:7%;
    padding-bottom: 130px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 90px;
    }

    .headquarters {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .headquarters h3 {
        padding-left: 5px;
        margin-top: 40px;
    }

    .headquarters img {
        padding-left: 115px;
        padding-right: 5px;
        margin-top: 20.28px;
    }

    .locations h1 {
        margin: 0px;
        padding-left: 115px;
    }

    .locations p {
        margin-top: 19px;
        margin-bottom: 19px;
        padding-left: 115px;
        text-indent: 0px;
    }

    .other-locations {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

        .other-locations p {
            text-indent: 0px;
        }

        .adresses-1 {
            display: flex;
            flex-direction: column;
            padding-left: 115px;
            padding-right: 150.547px;
        }
        
        .adresses-1 h1 {
            margin-bottom: 4px;
        }

        .adresses-2 {
            display: flex;
            flex-direction: column;
            padding-left: 115px;
            padding-right: 32.422px;
        }

        .adresses-2 h1 {
            margin-bottom: 4px;
        }

    .other-locations-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

        .other-locations-2 p {
            text-indent: 0px;
        }

        .adresses {
            display: flex;
            flex-direction: column;
            padding-left: 115px;
            padding-right: 10px;
        }

        .adresses h1 {
            margin-bottom: 4px;
        }