.main-info {
    background-color:#FFF19C;
    margin-left:7%;
    margin-right:7%;
    }

    .headquarters {
        display: flex;
        align-items: center;
    }

    .headquarters h3 {
        padding-left: 5px;
    }

    .headquarters img {
        padding-left: 135px;
        padding-right: 5px;
    }

    .locations h1 {
        margin: 0px;
        padding-left: 135px;
    }

    .locations p {
        margin-top: 19px;
        margin-bottom: 19px;
        padding-left: 135px;
    }

    .other-locations {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .adresses-1 {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 94.265px;
        }

        .adresses-1 h1 {
            margin-bottom: 4px;
        }

        .adresses-2 {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 42px;
        }

        .adresses-2 h1 {
            margin-bottom: 4px;
        }

    .other-locations-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        .adresses {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
        }

        .adresses h1 {
            margin-bottom: 4px;
        }